@import "tailwindcss";

:root {
    --text-color: #ffffff;
    --primary: #2563eb;
    --bg-service: #ffffff;
    --bg-service-text: #000000;
    --bg-card: #ffffff;
    --card-heading: #000000;
    --card-text: #666666;

    scroll-behavior: smooth;
}

body.dark-theme {
    --primary: #252424;
    --bg-service: #1e1e1e;
    --bg-service-text: #ffffff;
    --bg-card: #2c2c2c;
    --card-heading: #ffffff;
    --card-text: #e7e7e7;
}

body {
    background: var(--bg-service);
    color: var(--bg-service-text);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}